<!doctype html>
<html lang="en">
    <head>
        <title>fincrypt.io: AES</title>
        {{template "links.html"}}
    </head>
    <body>
        {{template "navbar.html"}}
        <div class="container-fluid">
            <div class="row justify-content-lg-center p-2">
                {{template "sidebar.html"}}
                <div class="col col-lg-6 border border-dark rounded">
                    <p class="pt-2">This tool implements the Advanced Encryption Standard (<a href="https://en.wikipedia.org/wiki/Advanced_Encryption_Standard" target="_blank">AES</a>) cipher.</p>
                    <br>
                    <form>
                        <div class="row form-group">
                            <label for="key" class="col-2 col-form-label pr-0">Key:</label>
                            <div class="col pl-0">
                                <input type="text" class="form-control text-uppercase" id="key" value="0123456789ABCDEF0123456789ABCDEF">
                            </div>
                        </div>
                        <div class="row form-group">
                            <label for="data" class="col-2 col-form-label pr-0">Data:</label>
                            <div class="col pl-0">
                                <input type="text" class="form-control text-uppercase" id="data" value="FEDCBA9876543210FEDCBA9876543210FEDCBA9876543210FEDCBA9876543210">
                            </div>
                        </div>
                        <div class="row form-group">
                            <label for="iv" class="col-2 col-form-label pr-0">IV:</label>
                            <div class="col pl-0">
                                <input type="text" class="form-control text-uppercase" id="iv" value="00000000000000000000000000000000">
                            </div>
                        </div>
                        <div class="row form-group">
                            <label for="mode" class="col-2 col-form-label pr-0">Mode:</label>
                            <div class="col pl-0">
                                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                    <label class="btn btn-secondary shadow-none active">
                                        <input type="radio" name="mode" id="ecb" checked>ECB
                                    </label>
                                    <label class="btn btn-secondary shadow-none">
                                        <input type="radio" name="mode" id="cbc">CBC
                                    </label>
                                </div> 
                            </div>
                        </div>
                        <div class="row form-group">
                            <label for="direction" class="col-2 col-form-label pr-0">Direction:</label>
                            <div class="col pl-0">
                                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                    <label class="btn btn-secondary shadow-none active">
                                        <input type="radio" name="direction" id="enc" checked>Encrypt
                                    </label>
                                    <label class="btn btn-secondary shadow-none">
                                        <input type="radio" name="direction" id="dec">Decrypt
                                    </label>
                                </div> 
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-1 col-form-label">
                                <button type="submit" class="btn btn-primary" id="calc">Calculate AES</button>
                            </div>
                        </div>
                        <div class="row form-group">
                            <label for="result" class="col-2 col-form-label pr-0">Result:</label>
                            <div class="col pl-0">
                                <div class="input-group">
                                    <input type="text" class="form-control text-uppercase" id="result">
                                    <div class="input-group-append">
                                        <button class="btn btn-secondary" type="button" id="copyButton">
                                            <a class="fa fa-copy"></a>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {{template "error.html"}}
        {{template "scripts.html"}}
        <script defer>
            $(document).ready(function() {
                $("#calc").click(function () {
                    var obj = {"Direction":0,
                               "Mode":"CBC",
                               "Key":document.getElementById("key").value,
                               "Data":document.getElementById("data").value,
                               "IV":document.getElementById("iv").value};

                    if (document.getElementById("dec").checked) {
                        obj.Direction = 1;
                    }

                    if (document.getElementById("ecb").checked) {
                        obj.Mode = "ECB";
                    }

                    $.ajax({
                        type: "POST",
                        url: "/aes",
                        data: JSON.stringify(obj),
                        dataType: "json"
                    }).done(function(data) {
                        document.getElementById("result").value = data.Res;
                    }).fail(function (data) {
                        document.getElementById("result").value = "";
                        document.getElementById("errorDescription").innerText = data.responseJSON.Err;
                        $('#errorModal').modal('show');
                    });

                    return false;
                });
            });
        </script>
    </body>
</html>