<!doctype html>
<html lang="en">
    <head>
        <title>fincrypt.io: Base64</title>
        {{template "links.html"}}
    </head>
    <body>
        {{template "navbar.html"}}
        <div class="container-fluid">
            <div class="row justify-content-lg-center p-2">
                {{template "sidebar.html"}}
                <div class="col col-lg-6 border border-dark rounded">
                    <form class="pt-2">
                        <div class="row form-group">
                            <label for="input" class="col-2 col-form-label pr-0">Input :</label>
                            <div class="col pl-0">
                                <input type="text" class="form-control" id="input" value="VkFMQVJJVEFT">
                            </div>
                        </div>
                        <div class="row form-group">
                            <label for="direction" class="col-2 col-form-label pr-0">Direction:</label>
                            <div class="col pl-0">
                                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                    <label class="btn btn-secondary shadow-none active">
                                        <input type="radio" name="direction" id="enc" checked>Encode
                                    </label>
                                    <label class="btn btn-secondary shadow-none">
                                        <input type="radio" name="direction" id="dec">Decode
                                    </label>
                                </div> 
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-1 col-form-label">
                                <button type="submit" class="btn btn-primary" id="calc">Base64</button>
                            </div>
                        </div>
                        <div class="row form-group">
                            <label for="result" class="col-2 col-form-label pr-0 case-sensitive">Result:</label>
                            <div class="col pl-0">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="result">
                                    <div class="input-group-append">
                                        <button class="btn btn-secondary" type="button" id="copyButton">
                                            <a class="fa fa-copy"></a>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {{template "error.html"}}
        {{template "scripts.html"}}
        <script defer>
            $(document).ready(function() {
                $("#calc").click(function () {
                    var obj = {"Direction":0,
                               "Input":document.getElementById("input").value};

                    if (document.getElementById("dec").checked) {
                        obj.Direction = 1;
                    }

                    $.ajax({
                        type: "POST",
                        url: "/base64",
                        data: JSON.stringify(obj),
                        dataType: "json"
                    }).done(function(data) {
                        document.getElementById("result").value = data.Res;
                    }).fail(function (data) {
                        document.getElementById("result").value = "";
                        document.getElementById("errorDescription").innerText = data.responseJSON.Err;
                        $('#errorModal').modal('show');
                    });

                    return false;
                });
            });
        </script>
    </body>
</html>