<!doctype html>
<html lang="en">
    <head>
        <title>fincrypt.io: TLV Parsing</title>
        {{template "links.html"}}
    </head>
    <body>
        {{template "navbar.html"}}
        <div class="container-fluid">
            <div class="row justify-content-lg-center p-2">
                {{template "sidebar.html"}}
                <div class="col col-lg-6 border border-dark rounded">
                    <p class="pt-2">This tool parses <a href="https://en.wikipedia.org/wiki/X.690#BER_encoding" target="_blank">BERTLV</a> encoded data from chip cards and returns tag information according to the EMV 4.3 specification.</p>
                    <br>
                    <form>
                        <div class="row form-group">
                            <label for="input" class="col-2 col-form-label pr-0">Input :</label>
                            <div class="col pl-0">
                                <input type="text" class="form-control" id="input" value="9F1008AAAAAAAAAAAAAAAA">
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-1 col-form-label">
                                <button type="submit" class="btn btn-primary" id="calc">Parse TLV</button>
                            </div>
                        </div>
                        <div id="result">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {{template "error.html"}}
        {{template "scripts.html"}}
        <script defer>
            $(document).ready(function() {
                $("#calc").click(function () {
                    document.getElementById("result").innerHTML = "";

                    var obj = {"Input":document.getElementById("input").value};

                    $.ajax({
                        type: "POST",
                        url: "/bertlv",
                        data: JSON.stringify(obj),
                        dataType: "json"
                    }).done(function(data) {
                        var tags = JSON.parse(data.Res);

                        var result = document.getElementById("result");

                        for (var i = 0; i < tags.length; i++) {
                            var hr = document.createElement("hr");
                            result.appendChild(hr);

                            var name = document.createTextNode(tags[i].Tag + ": " + tags[i].Name);
                            result.appendChild(name);

                            var br = document.createElement("br");
                            result.appendChild(br);

                            var value = document.createTextNode(tags[i].Value);
                            result.appendChild(value);

                            var br2 = document.createElement("br");
                            result.appendChild(br2);
                        }

                        var hr = document.createElement("hr");
                        result.appendChild(hr);
                    }).fail(function (data) {
                        document.getElementById("result").innerHTML = "";
                        document.getElementById("errorDescription").innerText = data.responseJSON.Err;
                        $('#errorModal').modal('show');
                    });

                    return false;
                });
            });
        </script>
    </body>
</html>