<!doctype html>
<html lang="en">
    <head>
        <title>fincrypt.io: CVV</title>
        {{template "links.html"}}
    </head>
    <body>
        {{template "navbar.html"}}
        <div class="container-fluid">
            <div class="row justify-content-lg-center p-2">
                {{template "sidebar.html"}}
                <div class="col col-lg-6 border border-dark rounded">
                    <p class="pt-2">This tool generates the various Cardholder Verification Values as described <a href="https://en.wikipedia.org/wiki/Card_security_code" target="_blank">here</a>.</p>
                    <br>
                    <form>
                        <div class="row form-group">
                            <label for="PAN" class="col-2 col-form-label pr-0">PAN:</label>
                            <div class="col pl-0">
                                <input type="text" class="form-control text-uppercase" id="PAN" value="5486960000008273">
                            </div>
                        </div>
                        <div class="row form-group">
                            <label for="expiry" class="col-2 col-form-label pr-0">Expiry (YYMM):</label>
                            <div class="col pl-0">
                                <input type="text" class="form-control text-uppercase" id="expiry" value="1812">
                            </div>
                        </div>
                        <div class="row form-group">
                            <label for="svc" class="col-2 col-form-label pr-0">Service Code:</label>
                            <div class="col pl-0">
                                <input type="text" class="form-control text-uppercase" id="svc" value="201">
                            </div>
                        </div>
                        <div class="row form-group">
                            <label for="cvk" class="col-2 col-form-label pr-0">CVK:</label>
                            <div class="col pl-0">
                                <input type="text" class="form-control text-uppercase" id="cvk" value="85321049CE2CE9CD32D6F87FD5CD808A">
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-1 col-form-label">
                                <button type="submit" class="btn btn-primary" id="calc">Generate CVVs</button>
                            </div>
                        </div>
                        <div class="row form-group">
                            <label for="CVV" class="col-2 col-form-label pr-0">CVV:</label>
                            <div class="col pl-0">
                                <div class="input-group">
                                    <input type="text" class="form-control text-uppercase" id="CVV">
                                </div>
                            </div>
                        </div>
                        <div class="row form-group">
                            <label for="CVV2" class="col-2 col-form-label pr-0">CVV2:</label>
                            <div class="col pl-0">
                                <div class="input-group">
                                    <input type="text" class="form-control text-uppercase" id="CVV2">
                                </div>
                            </div>
                        </div>
                        <div class="row form-group">
                            <label for="ICVV" class="col-2 col-form-label pr-0">iCVV:</label>
                            <div class="col pl-0">
                                <div class="input-group">
                                    <input type="text" class="form-control text-uppercase" id="ICVV">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {{template "error.html"}}
        {{template "scripts.html"}}
        <script defer>
            $(document).ready(function() {
                $("#calc").click(function () {
                    var obj = {"PAN":document.getElementById("PAN").value,
                               "Expiry":document.getElementById("expiry").value,
                               "ServiceCode":document.getElementById("svc").value,
                               "CVK":document.getElementById("cvk").value};

                    $.ajax({
                        type: "POST",
                        url: "/cvv",
                        data: JSON.stringify(obj),
                        dataType: "json"
                    }).done(function(data) {
                        var CVVs = JSON.parse(data.Res);

                        document.getElementById("CVV").value = CVVs.CVV;
                        document.getElementById("CVV2").value = CVVs.CVV2;
                        document.getElementById("ICVV").value = CVVs.ICVV;
                    }).fail(function (data) {
                        console.log(data);
                        document.getElementById("CVV").value = "";
                        document.getElementById("CVV2").value = "";
                        document.getElementById("ICVV").value = "";
                        document.getElementById("errorDescription").innerText = data.responseJSON.Err;
                        $('#errorModal').modal('show');
                    });

                    return false;
                });
            });
        </script>
    </body>
</html>