<!doctype html>
<html lang="en">
    <head>
        <title>fincrypt.io: HMAC</title>
        {{template "links.html"}}
    </head>
    <body>
        {{template "navbar.html"}}
        <div class="container-fluid">
            <div class="row justify-content-lg-center p-2">
                {{template "sidebar.html"}}
                <div class="col col-lg-6 border border-dark rounded">
                    <p class="pt-2">This tool calculates a <a href="https://en.wikipedia.org/wiki/HMAC" target="_blank">HMAC</a> using the chosen hash function.</p>
                    <br>
                    <form>
                        <div class="row form-group">
                            <label for="key" class="col-2 col-form-label pr-0">Key:</label>
                            <div class="col pl-0">
                                <input type="text" class="form-control text-uppercase" id="key" value="0102030405060708090A0B0C0D0E0F101112131415161718191A1B1C1D1E1F20">
                            </div>
                        </div>
                        <div class="row form-group">
                            <label for="data" class="col-2 col-form-label pr-0">Data:</label>
                            <div class="col pl-0">
                                <input type="text" class="form-control text-uppercase" id="data" value="CDCDCDCDCDCDCDCDCDCDCDCDCDCDCDCDCDCDCDCDCDCDCDCDCDCDCDCDCDCDCDCDCDCDCDCDCDCDCDCDCDCDCDCDCDCDCDCDCDCD">
                            </div>
                        </div>
                        <div class="row form-group">
                                <label for="padding" class="col-2 col-form-label pr-0">Hash:</label>
                                <div class="col pl-0">
                                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                        <label class="btn btn-secondary shadow-none">
                                            <input type="radio" name="mode" id="SHA-1">SHA-1
                                        </label>
                                        <label class="btn btn-secondary shadow-none">
                                            <input type="radio" name="mode" id="SHA-224">SHA-224
                                        </label>
                                        <label class="btn btn-secondary shadow-none active">
                                            <input type="radio" name="mode" id="SHA-256" checked>SHA-256
                                        </label>
                                        <label class="btn btn-secondary shadow-none">
                                            <input type="radio" name="mode" id="SHA-384">SHA-384
                                        </label>
                                        <label class="btn btn-secondary shadow-none">
                                            <input type="radio" name="mode" id="SHA-512">SHA-512
                                        </label>
                                        <label class="btn btn-secondary shadow-none">
                                            <input type="radio" name="mode" id="MD4">MD4
                                        </label>
                                        <label class="btn btn-secondary shadow-none">
                                            <input type="radio" name="mode" id="MD5">MD5
                                        </label>
                                    </div> 
                                </div>
                            </div>
                        <div class="row form-group">
                            <div class="col-1 col-form-label">
                                <button type="submit" class="btn btn-primary" id="calc">Calculate HMAC</button>
                            </div>
                        </div>
                        <div class="row form-group">
                            <label for="result" class="col-2 col-form-label pr-0">Result:</label>
                            <div class="col pl-0">
                                <div class="input-group">
                                    <input type="text" class="form-control text-uppercase" id="result">
                                    <div class="input-group-append">
                                        <button class="btn btn-secondary" type="button" id="copyButton">
                                            <a class="fa fa-copy"></a>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {{template "error.html"}}
        {{template "scripts.html"}}
        <script defer>
            $(document).ready(function() {
                $("#calc").click(function () {
                    var obj = {"Key":document.getElementById("key").value,
                               "Data":document.getElementById("data").value,
                               "HashMode":"SHA-256"};

                    if (document.getElementById("SHA-1").checked) {
                        obj.Padding = "SHA-1";
                    } else if (document.getElementById("SHA-224").checked) {
                        obj.Padding = "SHA-224";
                    } else if (document.getElementById("SHA-384").checked) {
                        obj.Padding = "SHA-384";
                    } else if (document.getElementById("SHA-512").checked) {
                        obj.Padding = "SHA-512";
                    } else if (document.getElementById("MD4").checked) {
                        obj.Padding = "MD4";
                    } else if (document.getElementById("MD5").checked) {
                        obj.Padding = "MD5";
                    }

                    $.ajax({
                        type: "POST",
                        url: "/hmac",
                        data: JSON.stringify(obj),
                        dataType: "json"
                    }).done(function(data) {
                        document.getElementById("result").value = data.Res;
                    }).fail(function (data) {
                        document.getElementById("result").value = "";
                        document.getElementById("errorDescription").innerText = data.responseJSON.Err;
                        $('#errorModal').modal('show');
                    });

                    return false;
                });
            });
        </script>
    </body>
</html>