<!doctype html>
<html lang="en">
    <head>
        <title>fincrypt.io</title>
        {{template "links.html"}}
    </head>
    <body>
        {{template "navbar.html"}}
        <div class="container-fluid">
            <div class="row justify-content-lg-center p-2">
                {{template "sidebar.html"}}
                <div class="col col-lg-6 border border-dark rounded">
                    <p class="pt-2">fincrypt.io provides a collection of tools for solving technical challenges found in the payment industry.</p>
                </div>
            </div>
        </div>
    </body>
</html>