<!doctype html>
<html lang="en">
    <head>
        <title>fincrypt.io: PIN Offset</title>
        {{template "links.html"}}
    </head>
    <body>
        {{template "navbar.html"}}
        <div class="container-fluid">
            <div class="row justify-content-lg-center p-2">
                {{template "sidebar.html"}}
                <div class="col col-lg-6 border border-dark rounded">
                    <p class="pt-2">This tool calculates a natural PIN and the PIN Offset as described by the <a href="https://www.ibm.com/support/knowledgecenter/en/SSLTBW_2.3.0/com.ibm.zos.v2r3.csfb400/csfb4932.htm" target="_blank">IBM 3624</a> method.</p>
                    <br>
                    <form>
                        <div class="row form-group">
                            <label for="PAN" class="col-2 col-form-label pr-0">PAN:</label>
                            <div class="col pl-0">
                                <input type="text" class="form-control text-uppercase" id="PAN" value="7824464731112340">
                            </div>
                        </div>
                        <div class="row form-group">
                            <label for="PIN" class="col-2 col-form-label pr-0">PIN:</label>
                            <div class="col pl-0">
                                <input type="text" class="form-control text-uppercase" id="PIN" value="1234">
                            </div>
                        </div>
                        <div class="row form-group">
                            <label for="PVK" class="col-2 col-form-label pr-0">PVK:</label>
                            <div class="col pl-0">
                                <input type="text" class="form-control text-uppercase" id="PVK" value="11111111111111111111111111111111">
                            </div>
                        </div>
                        <div class="row form-group">
                            <label for="DT" class="col-2 col-form-label pr-0">Decimalisation Table:</label>
                            <div class="col pl-0">
                                <input type="text" class="form-control text-uppercase" id="DT" value="0123456789012345">
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-1 col-form-label">
                                <button type="submit" class="btn btn-primary" id="calc">Calculate PIN Offset</button>
                            </div>
                        </div>
                        <div class="row form-group">
                            <label for="nPIN" class="col-2 col-form-label pr-0">Natural PIN:</label>
                            <div class="col pl-0">
                                <div class="input-group">
                                    <input type="text" class="form-control text-uppercase" id="nPIN">
                                </div>
                            </div>
                        </div>
                        <div class="row form-group">
                            <label for="oPIN" class="col-2 col-form-label pr-0">PIN Offset:</label>
                            <div class="col pl-0">
                                <div class="input-group">
                                    <input type="text" class="form-control text-uppercase" id="oPIN">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {{template "error.html"}}
        {{template "scripts.html"}}
        <script defer>
            $(document).ready(function() {
                $("#calc").click(function () {
                    var obj = {"PAN":document.getElementById("PAN").value,
                               "PIN":document.getElementById("PIN").value,
                               "PVK":document.getElementById("PVK").value,
                               "DT":document.getElementById("DT").value};

                    $.ajax({
                        type: "POST",
                        url: "/pinoffset",
                        data: JSON.stringify(obj),
                        dataType: "json"
                    }).done(function(data) {
                        var PINs = JSON.parse(data.Res);

                        document.getElementById("nPIN").value = PINs.NaturalPIN;
                        document.getElementById("oPIN").value = PINs.PINOffset;
                    }).fail(function (data) {
                        document.getElementById("nPIN").value = "";
                        document.getElementById("oPIN").value = "";
                        document.getElementById("errorDescription").innerText = data.responseJSON.Err;
                        $('#errorModal').modal('show');
                    });

                    return false;
                });
            });
        </script>
    </body>
</html>