<!doctype html>
<html lang="en">
    <head>
        <title>fincrypt.io: PVV</title>
        {{template "links.html"}}
    </head>
    <body>
        {{template "navbar.html"}}
        <div class="container-fluid">
            <div class="row justify-content-lg-center p-2">
                {{template "sidebar.html"}}
                <div class="col col-lg-6 border border-dark rounded">
                    <p class="pt-2">This tool generates a Visa method PIN Verification Value as described <a href="https://en.wikipedia.org/wiki/Personal_identification_number#VISA_method" target="_blank">here</a>.</p>
                    <br>
                    <form>
                        <div class="row form-group">
                            <label for="PAN" class="col-2 col-form-label pr-0">PAN:</label>
                            <div class="col pl-0">
                                <input type="text" class="form-control text-uppercase" id="PAN" value="5486960000008273">
                            </div>
                        </div>
                        <div class="row form-group">
                            <label for="PIN" class="col-2 col-form-label pr-0">PIN:</label>
                            <div class="col pl-0">
                                <input type="text" class="form-control text-uppercase" id="PIN" value="1234">
                            </div>
                        </div>
                        <div class="row form-group">
                            <label for="PVKI" class="col-2 col-form-label pr-0">PVKI:</label>
                            <div class="col pl-0">
                                <input type="text" class="form-control text-uppercase" id="PVKI" value="1">
                            </div>
                        </div>
                        <div class="row form-group">
                            <label for="PVK" class="col-2 col-form-label pr-0">PVK:</label>
                            <div class="col pl-0">
                                <input type="text" class="form-control text-uppercase" id="PVK" value="57E032204026015B04DCABE398B585A2">
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-1 col-form-label">
                                <button type="submit" class="btn btn-primary" id="calc">Generate PVV</button>
                            </div>
                        </div>
                        <div class="row form-group">
                            <label for="result" class="col-2 col-form-label pr-0">PVV:</label>
                            <div class="col pl-0">
                                <div class="input-group">
                                    <input type="text" class="form-control text-uppercase" id="result">
                                    <div class="input-group-append">
                                        <button class="btn btn-secondary" type="button" id="copyButton">
                                            <a class="fa fa-copy"></a>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {{template "error.html"}}
        {{template "scripts.html"}}
        <script defer>
            $(document).ready(function() {
                $("#calc").click(function () {
                    var obj = {"PAN":document.getElementById("PAN").value,
                               "PIN":document.getElementById("PIN").value,
                               "PVKI":document.getElementById("PVKI").value,
                               "PVK":document.getElementById("PVK").value};

                    $.ajax({
                        type: "POST",
                        url: "/pvv",
                        data: JSON.stringify(obj),
                        dataType: "json"
                    }).done(function(data) {
                        document.getElementById("result").value = data.Res;
                    }).fail(function (data) {
                        document.getElementById("result").value = "";
                        document.getElementById("errorDescription").innerText = data.responseJSON.Err;
                        $('#errorModal').modal('show');
                    });

                    return false;
                });
            });
        </script>
    </body>
</html>