<!doctype html>
<html lang="en">
    <head>
        <title>fincrypt.io: Retail MAC</title>
        {{template "links.html"}}
    </head>
    <body>
        {{template "navbar.html"}}
        <div class="container-fluid">
            <div class="row justify-content-lg-center p-2">
                {{template "sidebar.html"}}
                <div class="col col-lg-6 border border-dark rounded">
                    <p class="pt-2">This tool generates a Retail MAC as described by <a href="https://en.wikipedia.org/wiki/ISO/IEC_9797-1" target="_blank">ISO-9797-1</a>.</p>
                    <br>
                    <form>
                        <div class="row form-group">
                            <label for="key" class="col-2 col-form-label pr-0">Key:</label>
                            <div class="col pl-0">
                                <input type="text" class="form-control text-uppercase" id="key" value="D0C8B843CFEDD831E7A63B41F7FD0422">
                            </div>
                        </div>
                        <div class="row form-group">
                            <label for="data" class="col-2 col-form-label pr-0">Data:</label>
                            <div class="col pl-0">
                                <input type="text" class="form-control text-uppercase" id="data" value="00000000150000000000000008400000040000084014111900019A5199180000070FA501250000000000000000000000000F200000000000000000000000000000">
                            </div>
                        </div>
                        <div class="row form-group">
                                <label for="padding" class="col-2 col-form-label pr-0">Padding:</label>
                                <div class="col pl-0">
                                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                        <label class="btn btn-secondary shadow-none">
                                            <input type="radio" name="mode" id="padding_none">None
                                        </label>
                                        <label class="btn btn-secondary shadow-none">
                                                <input type="radio" name="mode" id="padding_m1">Method 1
                                        </label>
                                        <label class="btn btn-secondary shadow-none active">
                                            <input type="radio" name="mode" id="padding_m2" checked>Method 2
                                        </label>
                                    </div> 
                                </div>
                            </div>
                        <div class="row form-group">
                            <div class="col-1 col-form-label">
                                <button type="submit" class="btn btn-primary" id="calc">Retail MAC</button>
                            </div>
                        </div>
                        <div class="row form-group">
                            <label for="result" class="col-2 col-form-label pr-0">Result:</label>
                            <div class="col pl-0">
                                <div class="input-group">
                                    <input type="text" class="form-control text-uppercase" id="result">
                                    <div class="input-group-append">
                                        <button class="btn btn-secondary" type="button" id="copyButton">
                                            <a class="fa fa-copy"></a>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {{template "error.html"}}
        {{template "scripts.html"}}
        <script defer>
            $(document).ready(function() {
                $("#calc").click(function () {
                    var obj = {"Key":document.getElementById("key").value,
                               "Data":document.getElementById("data").value,
                               "Padding":"NONE"};

                    if (document.getElementById("padding_m1").checked) {
                        obj.Padding = "M1";
                    } else if (document.getElementById("padding_m2").checked) {
                        obj.Padding = "M2";
                    }

                    $.ajax({
                        type: "POST",
                        url: "/retailmac",
                        data: JSON.stringify(obj),
                        dataType: "json"
                    }).done(function(data) {
                        document.getElementById("result").value = data.Res;
                    }).fail(function (data) {
                        document.getElementById("result").value = "";
                        document.getElementById("errorDescription").innerText = data.responseJSON.Err;
                        $('#errorModal').modal('show');
                    });

                    return false;
                });
            });
        </script>
    </body>
</html>