<!doctype html>
<html lang="en">
    <head>
        <title>fincrypt.io: Tag Search</title>
        {{template "links.html"}}
    </head>
    <body>
        {{template "navbar.html"}}
        <div class="container-fluid">
            <div class="row justify-content-lg-center p-2">
                {{template "sidebar.html"}}
                <div class="col col-lg-6 border border-dark rounded">
                    <form class="pt-2">
                        <div class="row form-group">
                            <label for="input" class="col-2 col-form-label pr-0">Tag :</label>
                            <div class="col pl-0">
                                <input type="text" class="form-control" id="input" value="9F10">
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-1 col-form-label">
                                <button type="submit" class="btn btn-primary" id="calc">Tag Search</button>
                            </div>
                        </div>
                        <div id="result">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {{template "error.html"}}
        {{template "scripts.html"}}
        <script defer>
            $(document).ready(function() {
                $("#calc").click(function () {
                    document.getElementById("result").innerHTML = "";

                    var obj = {"Tag":document.getElementById("input").value};

                    $.ajax({
                        type: "POST",
                        url: "/tagsearch",
                        data: JSON.stringify(obj),
                        dataType: "json"
                    }).done(function(data) {
                        var tag = JSON.parse(data.Res);
                        var result = document.getElementById("result");

                        var hr = document.createElement("hr");
                        result.appendChild(hr);

                        if (tag.InvalidReason.length > 0) {
                            var reason = document.createTextNode(tag.InvalidReason);
                            result.appendChild(reason);
                        } else {
                            var name = document.createTextNode(tag.Tag + ": " + tag.Name);
                            result.appendChild(name);

                            var br = document.createElement("br");
                            result.appendChild(br);

                            var value = document.createTextNode("Format: " + tag.Format);
                            result.appendChild(value);

                            var br2 = document.createElement("br");
                            result.appendChild(br2);

                            var value = document.createTextNode("Length: " + tag.MinLength + " - " + tag.MaxLength);
                            result.appendChild(value);
                        }

                        var hr = document.createElement("hr");
                        result.appendChild(hr);
                    }).fail(function (data) {
                        document.getElementById("result").innerHTML = "";
                        document.getElementById("errorDescription").innerText = data.responseJSON.Err;
                        $('#errorModal').modal('show');
                    });

                    return false;
                });
            });
        </script>
    </body>
</html>